{% block tabela_disciplina_semestral %}

<table class="table text-center table-bordered table-striped text-nowrap">
    <thead>
    <tr>
        <th class="border-top text-center bg-gradient-gray" colspan="2" > Carga Semanal</th>
        <th class="border-top text-center bg-gradient-gray" colspan="3"> Dias de Aula</th>
        <th class="border-top text-center bg-gradient-gray" colspan="3"> Aulas Previstas</th>
    </tr>
    <tr>
        <th class="border-left" > dia da semana</th>
        <th class="border-right">tempos</th>
        <th>1ºSem</th>
        <th>2ºSem</th>
        <th class="border-right">total</th>
        <th>1ºSem</th>
        <th>2ºSem</th>
        <th class="border-right">total</th>
    </tr>
    </thead>
    <tbody>
    {% for key, obj in dicionario_tabela_ap.items %}
        <tr>
            <td class="border-left">{{ key }}</td>
            <td class="border-right">{{ obj.carga_semanal }}</td>
            <td>{{ obj.conta_weekdays_1s }}</td>
            <td>{{ obj.conta_weekdays_2s }}</td>
            <th class="border-right">{{ obj.total_weekdays }}</th>
            <td>{{ obj.aulas_previstas_1s}}</td>
            <td>{{ obj.aulas_previstas_2s}}</td>
            <th class="border-right">{{  obj.total_previstas }}</th>

        </tr>
    {% endfor %}

    <tr>
        <th class="border-right " colspan="2" style="width: 150px"> totais</th>
        {% for key, value in totais_dicionario_tabela_ap.items %}
            <th class="border-bottom">{{ value }}</th>
        {%  endfor %}
    </tr>
    </tbody>
</table>

{% endblock %}